<div class="row category-wrapper">
  <div class="col-2" *ngFor="let category of categories">
    <!-- <a>{{category.name}}</a> -->
    <a routerLink="/category/{{category.id}}/projects">{{category.name}}</a>
  </div>
</div>