<h3>Create project</h3>
<div>
  <div class="form-group col-6">
    <label>Select categories</label>
    <!-- <div>
      <a class="dropdown-item" *ngFor="let category of categories">{{ category.name }}</a>
    </div> -->
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{project.category ? project.category.name : 'Select category'}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <span class="dropdown-item" *ngFor="let category of categories" (click)="setCategory(category)">{{category.name}}</span>
      </div>
    </div>
  </div>
  <div class="form-group col-6">
    <label for="name">Name</label>
    <input [(ngModel)]="project.name" type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter name">
  </div>
  <div class="form-group col-6">
    <label for="description">Description</label>
    <input [(ngModel)]="project.description" type="text" class="form-control" id="description" placeholder="Enter description">
  </div>
  <div class="form-group col-6">
    <label for="photo">Photo url</label>
    <input [(ngModel)]="project.photoUrl" type="text" class="form-control" id="photo" placeholder="Enter photo url">
  </div>
  <div class="col-6">
    <button type="submit" class="btn btn-primary" (click)="submitProject(project)">Submit</button>
  </div>
</div>