<h3>Create category</h3>
<div>
  <div class="form-group col-6">
    <label for="name">Name</label>
    <input [(ngModel)]="category.name" type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter name">
  </div>
  <div class="col-6">
    <button type="submit" class="btn btn-primary" (click)="submitCategory(category)">Submit</button>
  </div>
</div>