<h3>Project list</h3>
<!-- <div class="row">
  <div class="col-3" *ngFor="let project of projectList">
    <div class="project-item">
      <img src="https://a.espncdn.com/combiner/i?img=/redesign/assets/img/icons/ESPN-icon-soccer.png&w=288&h=288&transparent=true" alt="Smiley face" height="200" width="200">
      <p>Name: {{ project.name }}</p>
      <p>Description: {{ project.description }}</p>
    </div>
  </div>
</div> -->


<div class="row">
  <div class="col-3" *ngFor="let project of projectList">
    <div class="card project-item">
      <!-- <img :src={{project.photoUrl}} class="card-img-top" alt="picture"> -->
      <img src="{{project.photoUrl}}" class="card-img-top" alt="picture">
      <div class="card-body">
        <h5 class="card-title">{{ project.name }}</h5>
        <p class="card-text">{{ project.description }} </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>