<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/project-create">Create project <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/category-create">Create category <span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="header">
    <h1>
      CrowdSourcing
    </h1>
  </div>
  <app-category-header></app-category-header>
  <router-outlet></router-outlet>
</div>